<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Igrač</title>
</head>
<body>
<h1>Igrač</h1>
<form method="post" action="/players/save">
    <input type="hidden" th:field="*{id}" th:object="${player}"/>

    <label>Ime:</label>
    <input type="text" th:field="*{name}" th:object="${player}"/>
    <span th:errors="*{name}" style="color:red"></span>
    <br/>

    <label>Nadimak:</label>
    <input type="text" th:field="*{nickname}" th:object="${player}"/>
    <br/>

    <button type="submit">Spremi</button>
    <a href="/players">Odustani</a>
</form>
</body>
</html>